Label {
    -fx-min-width:50;
    -fx-min-height:50;
    -fx-border-width:1`;
    -fx-border-color:red;
    -fx-alignment: center;
    -fx-font:28px Helvetica;
    -fx-background-color: cornsilk;
}

Label.points {
    -fx-min-width:50;
    -fx-min-height:50;
    -fx-border-width:1;
    -fx-border-color:green;
}

Label.bottomClickable {
    -fx-min-width:50;
    -fx-min-height:50;
    -fx-border-width:1;
    -fx-border-color:black;
}